<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>The Weather app</title>
      <link rel="stylesheet" href="weather.css">

<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Concert+One|Fauna+One|Frank+Ruhl+Libre|Indie+Flower|Julius+Sans+One|Rajdhani|Sintony|Tinos&display=swap" rel="stylesheet">  </head>

<body>

    <div class="container">
     <div class="row">
      <div class="one">
        <h1>ROAR.</h1>
        <p>Weather App</p>
      </div>

      <div class="two">

      </div>
    </div>

  </div>

<!-- <section id="top1">

</section> -->
    <div class="middle">


    <form id="form1" action="/" method="post">
      <label class="label1" for="cityName">City Name</label>
      <input id="cityName" type="text" name="cityName" value="" placeholder=" Enter City Name" autocomplete= "off">
      <button class="go" type="submit">Search</button>
    </form>
    </div>

  </body>


</html>
